.navbar-brand {
    margin-top: -5px;
    margin-bottom: -5px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #bbb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.chosen-container-active .chosen-choices {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.chosen-container-active .chosen-single {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.btn-primary:focus,
.btn-primary:active{
    box-shadow:none !important;
}

/* AUTO MILOVANOVIC OVERRIDES - END */

#header {
  /*  background: #333; */
background: #1C1375;
border-bottom: 4px solid #7DD600;
}

.my-alert {
    background: #1C1375;
    border-color: #1C1375;
}

#shortcut_list .shortcut {
    background: #1C1375;
}

#shortcut_list .shortcut:hover {
	background: #7DD600;
	filter: none !important;
}

#shortcut_list .shortcut.active {
	background: #7DD600;
}

.alternate_nos_buttons a {
    color: #fff !important;
    background: #1C1375;
}

.alternate_nos_buttons a:hover {
    background: #100763;
}

a {
    color: #1C1375;
}

a:hover, a:active {
    color: #100763;
}

.text-primary {
    color: #1C1375 !important;
}

.bg-primary {
    color: #fff !important;
    background-color: #7DD600 !important;
    border-color: #7DD600 !important;
}

.bg-darker .nav-item {
   background: rgba(255,255,255,0.1);
}

.bg-darker .nav-item:hover {
    background-color: rgba(255,255,255,0.2);
}

.nav-pills .show>.nav-link {
    background-color: #100763;
}
 
.btn-primary {
    color: #fff;
    background-color: #1C1375;
    border-color: #1C1375;
}

.ui-widget-header {
    background: #1C1375 !important;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    background: #7DD600 !important;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	background: #7DD600 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #7DD600 !important;
}

#search_tabs #ui-id-5:hover, #search_tabs li.ui-state-active #ui-id-5 {
    background-color: #7DD600 !important;
}

.input-group-btn > .btn {
    border-color: #1C1375; !important;
    background: #1C1375;
    color: #fff;
}

.accent-cell {
    background: #ddd;
}

.btn-primary {
    background: #1C1375;
}

.btn-primary:hover {
    background: #100763;
    border-color: #100763;
}

.button_checked .btn-primary {
	background: #1C1375;
	border: 1px solid #1C1375;
}

.sidebar1 ul li a:active {
    background: #7DD600;
    color: #fff !important;
}

.menu_standard h3 {
    color: #7DD600;
}

.page-item.active .page-link {
    background: #7DD600;
    border-color: #7DD600;
    color: #fff !important;
}

.page-link {
    color: #7DD600;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #7DD600;
  color: white;
}

.orange-head {
    background: #7DD600 !important;
    color: #fff;
}

.very_small_button {
	background: #bbb;
    color: #fff;
}

.very_small_button:hover {
	background: #100763;
    color: #fff;
}

.pagination .bg-primary {
	background: #7DD600 !important;
}

.pagination .border-primary {
    border-color: #7DD600  !important;
}

.pagination a.text-primary:hover {
    color: #100763 !important;
}

.pagination .page-link:hover {
    color: #100763;
}
