#header {
    background: #ff0000;
}

.my-alert {
    background: #f00;
    border-color: #f00;
}

#shortcut_list .shortcut {
    background: #f00;
}

#shortcut_list .shortcut:hover {
	background: #f00;
}

#shortcut_list .shortcut.active {
	background: #f00;
}

.alternate_nos_buttons a {
    color: #fff !important;
    background: #f00;
}

.alternate_nos_buttons a:hover {
    background: #b90000;
}

a {
    color: #b90000;
}

a:hover, a:active {
    color: #f00;
}

.text-primary {
    color: #f00 !important;
}

.bg-darker .nav-item {
   background: #f00;
}

.bg-darker .nav-item:hover {
    background-color: #b90000;
}

.nav-pills .show>.nav-link {
    background-color: #b90000;
}
 
.btn-primary {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}

.ui-widget-header {
    background: #b90000 !important;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    background: #f00 !important;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	background: #f00 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #f00 !important;
}

#search_tabs #ui-id-5:hover, #search_tabs li.ui-state-active #ui-id-5 {
    background-color: #f00 !important;
}

.input-group-btn > .btn {
    border-color: #f00; !important;
    background: #f00;
    color: #fff;
}

.accent-cell {
    background: #ddd;
}

.btn-primary {
    background: #f00;
}

.btn-primary:hover {
    background: #b90000;
    border-color: #b90000;
}

.button_checked .btn-primary {
	background: #b90000;
	border: 1px solid #b90000;
}

.sidebar1 ul li a:active {
    background: #f00;
    color: #fff !important;
}

.menu_standard h3 {
    color: #f00;
}

.page-item.active .page-link {
    background: #f00;
    border-color: #f00;
    color: #fff !important;
}

.page-link {
    color: #f00;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #f00;
  color: white;
}

.orange-head {
    background: #f00 !important;
    color: #fff;
}

.very_small_button {
	background: #bbb;
    color: #fff;
}

.very_small_button:hover {
	background: #f00;
    color: #fff;
}

.pagination .bg-primary {
	background: #f00 !important;
}

.pagination .border-primary {
    border-color: #f00  !important;
}

.pagination a.text-primary:hover {
    color: #f00!important;
}

.pagination .page-link:hover {
    color: #f00;
}
