.navbar-brand {
    margin-top: -5px;
    margin-bottom: -5px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #bbb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.chosen-container-active .chosen-choices {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.chosen-container-active .chosen-single {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.btn-primary:focus,
.btn-primary:active{
    box-shadow:none !important;
}

/* AUTO MILOVANOVIC OVERRIDES - END */

#header {
  /*  background: #333; */
background: #333333;
background: -moz-linear-gradient(-45deg, #333333 0%, #555555 35%, #333333 45%, #333333 100%);
background: -webkit-linear-gradient(-45deg, #333333 0%,#555555 35%,#333333 45%,#333333 100%);
background: linear-gradient(135deg, #333333 0%,#555555 35%,#333333 45%,#333333 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 );
}

#header::after {
  /*  background: #333; */
/* background: #333333;
background: -moz-linear-gradient(-45deg, #333333 0%, #555555 35%, #333333 45%, #333333 100%);
background: -webkit-linear-gradient(-45deg, #333333 0%,#555555 35%,#333333 45%,#333333 100%);
background: linear-gradient(135deg, #333333 0%,#555555 35%,#333333 45%,#333333 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); */
content: " ";
display: block;
position: absolute;
bottom: 0px;
height: 4px;
width: 100%;
background: #959595;
background: -moz-linear-gradient(-45deg, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
background: -webkit-linear-gradient(-45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 );
}

.my-alert {
    background: #f00;
    border-color: #f00;
}

#shortcut_list .shortcut {
    background: #f00;
}

#shortcut_list .shortcut:hover {
	background: #f00;
}

#shortcut_list .shortcut.active {
	background: #f00;
}

.alternate_nos_buttons a {
    color: #fff !important;
    background: #f00;
}

.alternate_nos_buttons a:hover {
    background: #b90000;
}

a {
    color: #b90000;
}

a:hover, a:active {
    color: #f00;
}

.text-primary {
    color: #f00 !important;
}

.bg-primary {
    color: #fff !important;
    background-color: #f00 !important;
    border-color: #f00 !important;
}

.bg-darker .nav-item {
   background: rgba(255,255,255,0.1);
}

.bg-darker .nav-item:hover {
    background-color: rgba(255,255,255,0.2);
}

.nav-pills .show>.nav-link {
    background-color: #b90000;
}
 
.btn-primary {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}

.ui-widget-header {
    background: #666 !important;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    background: #f00 !important;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	background: #f00 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #f00 !important;
}

#search_tabs #ui-id-5:hover, #search_tabs li.ui-state-active #ui-id-5 {
    background-color: #f00 !important;
}

.input-group-btn > .btn {
    border-color: #f00; !important;
    background: #f00;
    color: #fff;
}

.accent-cell {
    background: #ddd;
}

.btn-primary {
    background: #f00;
}

.btn-primary:hover {
    background: #b90000;
    border-color: #b90000;
}

.button_checked .btn-primary {
	background: #b90000;
	border: 1px solid #b90000;
}

.sidebar1 ul li a:active {
    background: #f00;
    color: #fff !important;
}

.menu_standard h3 {
    color: #f00;
}

.page-item.active .page-link {
    background: #f00;
    border-color: #f00;
    color: #fff !important;
}

.page-link {
    color: #f00;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #f00;
  color: white;
}

.orange-head {
    background: #f00 !important;
    color: #fff;
}

.very_small_button {
	background: #bbb;
    color: #fff;
}

.very_small_button:hover {
	background: #f00;
    color: #fff;
}

.pagination .bg-primary {
	background: #f00 !important;
}

.pagination .border-primary {
    border-color: #f00  !important;
}

.pagination a.text-primary:hover {
    color: #f00!important;
}

.pagination .page-link:hover {
    color: #f00;
}
