/* NUIC TEMPLATE */

.navbar-brand {
    margin-top: -5px;
    margin-bottom: -5px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-control:focus,
.form-control-sm:focus {   
  border-color: #bbb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 0, 0, 0.3);
}

.chosen-container .chosen-results li.highlighted {
	color: #000 !important;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.chosen-container-active .chosen-choices {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.chosen-container-active .chosen-single {
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(0, 0, 0, .3);
}

.btn-primary:focus,
.btn-primary:active{
    box-shadow:none !important;
}

/* AUTO MILOVANOVIC OVERRIDES - END */

#header {
  /*  background: #333; */
background: #fff;
border-bottom: 1px solid #F1F2F6;
}

#header .bg-darker .nav-link {
    color: #000;
}

.my-alert {
    background: #FF5800;
    border-color: #FF5800;
}

#shortcut_list .shortcut {
    background: #004990;
}

#shortcut_list .shortcut:hover {
	background: #8E97AD;
	filter: none !important;
}

#shortcut_list .shortcut.active {
	background: #8E97AD !important;
}

.alternate_nos_buttons a {
    color: #fff !important;
    background: #004990;
}

.alternate_nos_buttons a:hover {
    background: #0068B9;
}

a {
    color: #004990;
}

a:hover, a:active {
    color: #0068B9;
}

.text-primary {
    color: #004990 !important;
}

.bg-primary {
    color: #fff !important;
    background-color: #E2E5EC !important;
    border-color: #E2E5EC !important;
}

.bg-darker .nav-item {
   background: rgba(142, 151, 173, 0.1);
}

.bg-darker .nav-item:hover {
    background-color: rgba(142, 151, 173, 0.2);
}

.nav-pills .show>.nav-link {
    background-color: #E2E5EC;
}
 
.btn-primary {
    color: #fff;
    background-color: #004990;
    border-color: #004990;
}

.ui-widget-header {
    background: #004990 !important;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    background: #E2E5EC !important;
    color: #000 !important;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	background: #E2E5EC !important;
    color: #000 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #E2E5EC !important;
    color: #000 !important;
}

#search_tabs #ui-id-5:hover, #search_tabs li.ui-state-active #ui-id-5 {
    background-color: #E2E5EC !important;
    color: #000 !important;
}

.input-group-btn > .btn {
    border-color: #004990; !important;
    background: #004990;
    color: #fff;
}

.accent-cell {
    background: #E2E5EC;
}

.btn-primary {
    background: #004990;
}

.btn-primary:hover {
    background: #0068B9;
    border-color: #0068B9;
}

.button_checked .btn-primary {
	background: #004990;
	border: 1px solid #004990;
}

.sidebar1 ul li a:active {
    background: #E2E5EC;
    color: #fff !important;
}

.menu_standard h3 {
    color: #E2E5EC;
}

.page-item.active .page-link {
    background: #E2E5EC;
    border-color: #E2E5EC;
    color: #fff !important;
}

.page-link {
    color: #E2E5EC;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #E2E5EC;
  color: white;
}

.orange-head {
    background: #004990 !important;
    color: #fff;
}

.very_small_button {
	background: #bbb;
    color: #fff;
}

.very_small_button:hover {
	background: #0068B9;
    color: #fff;
}

.pagination .bg-primary {
	background: #E2E5EC !important;
}

.pagination .border-primary {
    border-color: #E2E5EC  !important;
}

.pagination a.text-primary:hover {
    color: #0068B9 !important;
}

.pagination .page-link:hover {
    color: #0068B9;
}

/* JS TREE */

.jstree-default .jstree-clicked {
    background: #E2E5EC !important;
}

.jstree-default .jstree-anchor:hover {
    background: #E2E5EC !important;
}
