* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 11pt;
	line-height: 1.0em;
	font: 13px/1.5 Tahoma,'Helvetica Neue','Liberation Sans',FreeSans,sans-serif;
	background: #FFFFFF;
	color: #212121;
	text-align: center;
	padding: 5px;
}

a {
	color: #22769D;
	text-decoration: none;
}

a:hover {
	color: #FC9711;
	text-decoration: none;
}

.content {
	position: absolute;
	width: 800px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	border: solid 1px;
}

.fragebogen_titel {
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px;
}

.fragebogen_beschreibung {
	width: 600px;
	border: solid 1px;
	padding: 5px;
	border-radius: 6px;
	background: #F1F1F1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 100px;
}

.frage_kurz {
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px;
}

.fragebogen_status {
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px;
}

.frage_lang {
	width: 600px;
	border: solid 1px;
	padding: 5px;
	border-radius: 6px;
	background: #F1F1F1;
	margin-left: auto;
	margin-right: auto;
	height:auto;
}

.antworten {
	display: inline-block;
	text-align: center;
	margin-top: 5px;
	max-width: 1024px;
}
.antwort {
	display: inline-block;
	border: solid 1px;
	padding: 5px;
	border-radius: 6px;
	margin: 5px;
	background: #F1F1F1;
	width: 150px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.antwort:hover {
	background: #FFFFFF;
}

.button {
	width: 120px;
	height: 30px;
	margin: 5px;
}

.button_prev {
	position: absolute;
	left: 5px;
	top: 5px;
}

.button_next {
	position: absolute;
	right: 5px;
	top: 5px;
}

.errortext {
	display:block;
	background: rgba(202,32,32,0.75);
	color: #FFFFFF;
	font-size: 11px;
	padding-left: 5px;
	font-weight: bold;
	margin: 5px;
}
