.list.bg-white td {
	background: #fff !important;
}

.tablesorter-default {
	margin: 0;
}

.tablesorter-sticky-wrapper {
	top: 61px !important;
	left: 5px !important;
}

#content_scroll {
	height: 800px;
	padding-right: 10px;
}

.dropdown-menu {
	background: white;
}

.dropdown-item.active, .dropdown-item:active {
  color: #000;
} 

.chosen-container-multi {
	width: 100% !important;
}

.chosen-container-multi .chosen-choices {
	height: calc(1.8125rem + 2px) !important;
	line-height: calc(1.8125rem + 2px);
}

a.dotted_link {
	text-decoration: underline dotted #004990 !important;
}

body {
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #0068B9;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  color: #FFF;
}

.footer a {
  color: #FFF;
}

@media (max-width: 992px) {
	#standard-nav{display:none;}
}

@media (min-width: 992px) {
	#mobile-nav{display:none;}
}

.menu_standard { z-index: 1000; }
.mobile_nav {}