.click_button {
	height: 36px;
	border: 1px solid #bbb;
	padding: 4px;
}

.click_button:hover {
	color: #fff;
	background: #c7e7ff;
}

.click_button span {
	color: #0868b1;
}

/* NEW */
/*
.click_button {
	width: 200px;
	height: 40px;
	text-align: center;
	background: #0868B1;
	line-height: 38px;
	padding: 0;
	border-radius: 3px;
}

.click_button img {
	background: none;
	filter: grayscale(100%) brightness(500%);
	border-radius: 0;
	line-height: 40px;
	vertical-align: middle;
}

.click_button span {
	color: #fff;
}

.click_button:hover {
	background: #0868B1;
}
*/
