/* keine Schatten */
.shadow {
	box-shadow: none;
}

table.list, table.list_top {
	width: 100%;
	border-spacing: 10px;
	border: none;
	margin-right: 15px;
}
	
table.list th, table.list_top th {
	height: 40px;
	border: solid 1px #fff;
	font-size: 13px;
	background: #efefef;
}

table.list th a {
	color: #0868b1;
	border-bottom: none;
}

table.list th a:hover {
	color: #4c97cf;
	border-bottom: none;
}

table.list td {
	border-style: solid none solid none;	
	border-top: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
	font-size: 13px;
	background: #fff;
	vertical-align: middle;
}

/* LIST LEFT */
table.list_left {
	margin-bottom: 0px;
}

table.list_left th {
	font-size: 12px;
	background: #efefef;
}

table.list_left td {
	background: #efefef;
}

table.list_left tr:first-child th, table.list_left tr:first-child td {
	padding-top: 16px;
}

table.list_left tr:last-child th, table.list_left tr:last-child td {
	padding-bottom: 16px;
}

#search_tabs div.ui-tabs-panel {
	padding: 0px;
}

#search_tabs table.list_left {
	border: none;
	width: 100% !important;
}

#search_tabs table.list_left tr th {
	width: 150px;
	text-align: left;
	padding-left: 16px;
}

#search_tabs input {
	height: 25px;
	font-size: 15px;
	margin: 0 !important;
} 

#search_tabs table.list_left tr td:last-child {
	padding-right: 16px;
}

#search_shortcuts_categories table.list td, #search_categories_kat_div table.list td {
	border-style: none;
}

#search_shortcuts_categories table.list th, #search_shortcuts_categories table.list_top th, #search_categories_kat_div table.list th, #search_categories_kat_div table.list_top th {
  background: #FFF none repeat scroll 0 0;
  text-align: left !important;
  padding-left: 12px;
}

.r-autocomplete {
	width: 200px;
}

.r-autocomplete button {
	border: 1px solid #aaa;
	border-left: none;
}

.input-group-btn > .btn {
  height: 25px;
} 
    
input {
  border: 1px solid #aaa;
}

select {
	height: 25px;
  
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  border: 1px solid #aaa;  
}

.chosen-container-single .chosen-single {
  height: 25px;
  border-radius: 0px;
	border: 1px solid #aaa;    
}

.chosen-container-active .chosen-single {
  box-shadow: none;
}

/* SUCHE NACH FIN - ORANGE */
#search_tabs #ui-id-5 {
	background-color: #E95A0B;
	color: #FFFFFF; 	
}

#search_tabs li.ui-state-active #ui-id-5 {
	background-color: transparent; 	
}

/* ARTIKELKARTE */
#tabs {
	background-color: #efefef;
}

#tabs .list_left, #tabs .list {
	border: 0;
}

/* Count */
.count_info {
	position: relative;
	border: 1px solid #dc0d17;
	font-size: 9px;
	left: 7px;
	top: -10px;
	line-height: 1;
	padding: 0px 2px 2px 2px;
	border-radius: 3px;
	background-color: #dc0d17;
	color: #ffffff;
	display: none;
}

.count_info_menu {
	position: absolute;
	border: 1px solid #dc0d17;
	font-size: 8px;
	left: 13px;
	top: 1px;
	line-height: 1;
	padding: 0px 2px 2px 2px;
	border-radius: 3px;
	background-color: #dc0d17;
	color: #ffffff;
	display: none;
}
