#header {
	width: 100%;
	height: auto;
	background: #0068B9;
	margin: 0;
	padding: 10px 0 10px 0;
}

html {
	
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

h2 {
	font-variant: normal;
	font-size: 14px;
	padding-left: 0px;
	line-height: 1.5em;
	border-bottom: 1px solid #e2e5ec;
}

#main-content {
	
}

#shop-container {
	padding-top: 10px;
	/* min-height: calc(100vh - 55px) !important; */
	padding-bottom: 12px;
}

.container {
	max-width: 1200px !important;
	font-size: 13px;
	position: relative;
	padding: 0 5px;
	margin-left: auto;
}

.content {
	padding: 0;
}

#logo {
	width: auto;
	height: auto;
	border-radius: 8px;
	line-height: 0px;
}

#content_scroll {
	/*    height: calc(100vh - 130px) !important;*/
	bottom: 5px;
}

.logo_img {
	width: 100%;
	height: auto;
	margin-bottom: 12px;
}

.logo_left {
	margin-top: 16px;
	border: 1px solid #cccccc !important;
	border-radius: 8px;
	padding-left: 0px !important;
}

.logo_left img {
	border-radius: 6px;
	max-width: 250px;
}

.logo_left a {
	padding: 0 !important;
}

#search_tabs label {
	margin-bottom: 0px;
}

#search_articles_big {
	/* font: 13px/1.5 Tahoma,'Helvetica Neue','Liberation Sans',FreeSans,sans-serif; */
	
}

.menu_form {
	height: 48px !important;
}

#search_form_filter {
	line-height: 36px;
	vertical-align: middle;
}

.mb-3, .my-3 {
	margin-bottom: inherit !important;
}

.tabs-petina .nav-item { //
	max-width: 25%; //
	overflow: hidden;
}

.tabs-petina {
	border-radius: 4px !important; //
	overflow: hidden !important;
}

.my-search-container {
	padding: 0 10px 0 10px !important;
	min-height: 164px;
}

/* BOOTSTRAP OVERRIDES */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5,
	.col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1,
	.col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
	.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
	.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
	.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
	.col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
	.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1,
	.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
	.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-left: 5px;
	padding-right: 5px;
}

.row {
	margin-right: -5px;
	margin-left: -5px;
}

.table {
	margin-bottom: 0px;
}

.accent-cell {
	padding: 10px;
	border-radius: 4px;
}

.dropdown-menu.show {
	padding: 10px;
	width: 100%;
}

.navbar {
	padding: 0;
}

.navbar-brand {
	padding: 0;
	margin-right: 10px;
}

.dropdown-menu {
	margin: 0;
	border: none;
	background: #eee;
}

.dropdown-menu.show {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.dropdown-submenu .dropdown-menu {
	margin: 0px;
}

.navbar-toggler-icon {
	border: 1px solid #fff;
	border-radius: 4px;
	line-height: 28px;
	color: #fff;
}

.navbar-toggler, .navbar-toggler:focus {
	outline: 0px !important;
	border: 0px !important;
}

.table-sm td, .table-sm th {
	padding: .24rem;
}

/* NAV STYLE */
.menu_standard {
	position: relative;
	width: 100%;
	left: 0px;
	border-radius: 0px;
	top: 0px;
	background: #fff;
	max-width: inherit;
}

.menu_standard ul {
	padding: 10px;
	border-radius: 0px;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.link_menu {
	background-size: 14px;
}

.linkedList {
	border-radius: 0px;
}

.logo_left img {
	width: 100%;
}

.sidebar1 ul li {
	background: none !important;
}

.sidebar1 ul li.last {
	padding-bottom: 0px;
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.language_switch {
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	padding-top: 0px !important;
	background: #fff !important;
	display: none;
}

h3 {
	border-bottom: inherit;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	color: inherit;
	font-size: inherit;
	font-variant: inherit;
	font-weight: inherit;
	margin: inherit;
	padding-left: inherit;
	background: inherit;
}

.flag {
	width: 14.28% !important;
	height: auto !important;
}

.open_menu {
	display: none;
	width: 12.5% !important;
	height: 11%: !important;
	border: 0;
	padding: 1px;
}

.language_switch img.flag.active {
	opacity: 1;
	border: inherit;
	background: inherit;
}

.sidebar1 ul li {
	padding-left: 0px;
	border-top: 1px solid #eee;
	border-left: none;
	border-right: none;
	background: #fff;
	font-size: 1em;
}

.sidebar1 ul li a {
	font-size: 13px;
	position: relative;
	display: block;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_standard  .logo_left {
	display: none;
}

#content_scroll {
	width: 100%;
}

.my-alert {
	margin-bottom: 10px;
	padding: 10px;
	background: #FF5800;
	border-color: #FF5800;
	color: #fff;
	font-size: 1.5em;
}

.my-alert i {
	font-size: 30px;
	margin-right: 5px;
}

#results-section {
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

#primjer table.list_left {
	border: none;
}

#primjer table.list_left tr:last-child th, #primjer table.list_left tr:last-child td
	{
	padding-bottom: 0px;
}

#primjer table.list_left tr:first-child th, #primjer table.list_left tr:first-child td
	{
	padding-top: 0px;
}

#primjer table.list_left th, #primjer table.list_left td {
	font-size: 1em;
	background: none;
	vertical-align: middle;
}

#table_excel_export table.list th, #table_excel_export table.list td {
	
}

/* ------------ADS-------------- */
.main-banner img {
	width: 100%;
	height: auto;
	box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.3);
	border: 1px solid #efefef;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 10px;
}

.main-banner {
	padding-left: 5px;
	padding-right: 5px;
}

.banner-left {
	width: 100% !important;
	height: auto;
	margin-bottom: 0px;
	border-radius: 4px;
}

.banner-left-outside {
	float: right;
	width: auto !important;
	height: 100%;
	margin-bottom: 0px;
	right: 0;
}

.banner-right-outside {
	width: auto !important;
	height: 100%;
	margin-bottom: 0px;
}

.banner-center {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	border-radius: 4px;
}

#featured .banner-left {
	object-fit: cover;
	height: 100%;
}

.featured {
	max-height: 273px;
	overflow: hidden;
}

/* -------- MENU FORM ------------*/
.menu_form {
	background: #e2e5ec !important;
	height: 41px !important;
}

.search_form {
	background: #e2e5ec !important;
	height: 41px !important;
}

#search_form_filter {
	line-height: 31px;
}

#search_form_filter input {
	height: 31px !important;
	width: 160px !important;
	border-radius: 4px;
}

.order_info textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
}

.order_info hr {
	border-top: 1px solid #e2e5ec !important;
	margin-bottom: 10px !important;
	margin-top: 20px !important;
}

#content_scroll {
	margin-top: 20px;
}

@media ( max-width : 576px) {
	#search_form_filter input {
		width: 60px !important;
	}
	.search_form {
		max-width: 330px;
	}
	.menu_form {
		width: 110px;
	}
}

/* ---------- RESET LIST -------------- */
table.list, table.list_top {
	width: inherit !important;
	border-spacing: inherit !important;
	border: inherit !important;
	margin-right: inherit !important;
}

table.list th, table.list_top th {
	height: inherit !important;
	border: inherit !important;
	font-size: inherit !important;
	/*background: inherit !important;*/
}

table.list th a {
	color: inherit !important;
	border-bottom: inherit !important;
}

table.list th a:hover {
	color: inherit !important;
	border-bottom: inherit !important;
}

table.list td {
	border-style: inherit !important;
	border-top: inherit !important;
	border-bottom: inherit !important;
	font-size: inherit !important;
	background: inherit !important;
	vertical-align: minherit !important;
}

#search_categories_kat_div table.list tr {
	background: transparent !important;
	background-color: transparent !important;
}

table.list, table.list_top {
	width: 100% !important;
}

/* -------SEARCH RESULTS----------*/

/* #shortcut_list .shortcut {
    width: 10.32%;
    margin-right: 5px;
    margin-bottom: 5px;
	position: relative;
	float: left;	
	opacity: 1;
	border: 0px solid #000000;
//  background: #004E8B;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0.9;
} */

/* #shortcut_list {
   position: absolute;
   bottom: -5px;
   padding-left: 10px;
   padding-right: 10px;
   width: auto; 
} */
#shortcut_list {
	padding-left: 2.5px;
	padding-right: 2.5px;
	padding-top: 5px;
}

#shortcut_list .shortcut {
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
	background: #0068B9;
	opacity: 1;
}

.shortcut-container {
	padding-left: 2.5px;
	padding-right: 2.5px;
	padding-top: 5px;
}

.moj-flex-fill {
	flex: 0 0 11.11%;
}

#shortcut_list .shortcut:hover {
	background: #FF5800;
	/* filter: hue-rotate(170deg) contrast(200%) brightness(100%) saturate(110%); -------- za svijetlo plavu */
	//
	filter: hue-rotate(185deg) contrast(100%) brightness(125%)
		saturate(150%); //
	opacity: 1;
}

#shortcut_list .shortcut.active {
	background: #FF5800;
}

#search_result {
	background: #fff;
}

.ui-tooltip {
	/* HOVER PROZORI */
	
}

#shortcut_list .shortcut {
	
}

#shortcut_list img {
	height: auto;
	width: 100%;
	/*  -webkit-filter: brightness(100%); /* Safari */
	/*  filter: brightness(100%); */
}

.link_click_button {
	margin: 0 !important;
}

/* ----------- CARD -------------*/
.articles_big_img {
	width: auto !important;
	max-width: 100%;
	max-height: 140px !important;
}

.new-article-card {
	display: block;
	padding: 5px;
}

.new-article-card-inner {
	position: relative;
	border: 1px solid #cccccc;
	border-radius: 4px;
	display: block;
	height: 100%;
	overflow: hidden;
	/* background: #c9c9c9; */
	background: #e2e5ec;
	box-shadow: 2px 2px 9px rgba(0, 0, 0, .1);
}

.new-article-card-img-conrainer {
	text-align: center;
	float: left;
	min-height: 140px;
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
	background: #fff;
}

.new-article-card-info {
	float: left;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	padding: 7px 7px;
	min-height: 102px;
}

.new-article-price {
	background: #ff0;
	border-radius: 5px;
	line-height: 31px;
	padding: 0px 5px;
}

.new-article-price-container {
	padding-left: 10px;
}

.new-article-price-cart {
	display: inline-block;
	float: right;
	padding-right: 5px;
	margin-left: -15px;
}

.new-article-card-description {
	margin-bottom: 10px;
	padding: 5px 5px;
	background: #fff;
	border-radius: 4px;
}

.new-article-price-button, .new-article-price-spinner {
	float: left;
}

.no-pad .col-* {
	padding: 0px !important;
}

@media ( max-width : 768px) {
	.new-article-card-info {
		text-align: left;
	}
}

/* --------JSTREE ------------*/
.jstree-default a {
	position: relative;
	white-space: normal !important;
	word-break: break-word;
	height: auto;
	text-indent: -1.9em;
	left: 1.9em;
	font-size: 1em;
	line-height: 0.8em;
}

.jstree-anchor {
	display: block;
	height: auto !important;
	max-width: 150px;
}

.jstree-default li>ins {
	vertical-align: top;
}

.jstree-leaf {
	height: auto;
}

.jstree-leaf a {
	height: auto !important;
}

.jstree-themeicon-custom {
	background-position: center center !important;
}

#search_categories_filter {
	width: 100% !important;
	margin-left: 0px !important;
	height: 27px;
	margin-top: 10px;
	border-radius: 4px;
}

#search_categories {
	display: block !important;
	width: 100% !important;
	overflow: hidden;
	padding-left: 0px;
}

#search_articles_infos {
	margin-top: 0px;
}

#search_articles_infos th {
	vertical-align: middle;
}

.jstree-default>.jstree-container-ul>.jstree-node {
	margin-left: -11px !important;
	margin-right: 0;
}

.jstree-default .jstree-clicked {
	border: none !important;
	box-shadow: none !important;
}

.jstree-default .jstree-hovered {
	border: none !important;
	box-shadow: none !important;
}

.logout-menu-item {
	font-size: 13px;
	position: relative;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.logout-menu-item:hover {
	color: #337ab7;
}

/* ------------ POPUP ------------------*/
#popup_dialog { /* mis */
	/* .popup_dialog_class is always set on #popup_dialog */
	/* .popup_dialog_action_101 = Item Card */
	/* .popup_dialog_action_1 = Edit Card */
	width: 90vw !important;
	max-width: 1000px;
	background: #e2e5ec;
	height: 90vh !important;
	max-height: 700px !important;
	border: none !important;
	border-radius: 4px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.popup-tab { /* mis */
	height: auto;
	height: 605px;
	max-height: 605px;
	overflow-y: auto;
	border: none;
	border-radius: 4px;
	background: #fff;
}

.popup_dialog_action_101 .popup-tab { /* mis */
	height: calc(90vh - 82.5px);
	max-height: 618px !important;
	background: #fff;
	border: 0px !important;
}

.popup_dialog_action_1 .popup-tab {
	/* mis: smaller, because of additional bottom action buttons */
	height: 565px !important;
	max-height: 565px !important;
}

.ui-dialog .ui-dialog-content {
	padding: 10px;
}

#tabs.ui-widget.ui-widget-content {
	border: 0px !important;
}

.popup-tabs .ui-tabs-panel {
	background: #fff !important;
}

#tabs table.list th, #tabs table.list td {
	background: #fff !important;
}

/* PRE
.ui-dialog {
    width: 90vw !important;
    max-width: 1000px;
    background: #e2e5ec;
    height: 90vh !important;
    max-height: 700px !important;
    border: none !important;
    border-radius: 4px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.ui-dialog .ui-dialog-content {
    padding: 10px;
}

.ui-dialog .content {
    padding: 0px;
}

.popup-tabs {
    height: auto;
    max-height: 650px;
    overflow-y: auto;
    border: 0px;
    border-radius: 4px;
    background: #fff;
}

.popup-tabs .ui-tabs-panel {
    background: #fff !important;
}

.ui-widget-content {
    border: 0px !important;
}
*/

/*
#tabs .ui-helper-reset {
    padding: 6px 0px !important;
    outline: 0px !important;
}

.ui-dialog .content {
    padding: 0px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 6px 13px !important;
}

#tabs .ui-tabs .ui-tabs-nav {
    padding: 6px 13px !important; 
}

#tab[*] .ui-tabs .ui-tabs-panel {
    background: #fff !important;
} */

/*------------- SEARCH FORMS 1 ----------*/
.r-autocomplete {
	width: inherit !important;
}

#search_tabs {
	min-height: 273px !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center center !important;
	border: none;
}

.my-image-table td {
	text-align: center;
}

.my-image-table img {
	max-width: 950px;
	height: auto;
}

/*-------------- ALTERNATE NOS - CROSS REFERENCE -------------*/
.alternate_nos_card_holder {
	padding: 5px;
}

.alternate_nos_card {
	border: 1px solid #e2e5ec;
	border-radius: 4px;
	background: #e2e5ec;
	padding: 5px;
}

.alternate_nos_brand {
	width: 100%;
	background: #fff;
	padding: 0px 5px;
	margin-bottom: 5px;
}

.alternate_nos_number a {
	line-height: 26px;
}

.alternate_nos_number {
	width: 100%;
	/* background: #ff0; */
	padding: 0px 5px;
	font-weight: bold;
}

.alternate_nos_actions {
	padding: 0 5px;
}

.alternate_nos_buttons {
	text-align: right;
}

.alternate_nos_buttons a {
	padding: 5px;
	color: #fff !important;
	background: #0068B9;
	border-radius: 4px;
	margin-right: -5px;
	margin-left: 10px;
	line-height: 26px;
}

.alternate_nos_buttons a:hover {
	background: #004990;
}

/* ------------ SEARCH FORMS 2-----------*/
.moj-btn-sm {
	min-width: calc(1.8125rem + 2px);
	height: calc(1.8125rem + 2px);
	padding: .25rem .5rem;
	border-radius: .2rem;
	margin-left: 5px;
}

.cart {
	max-width: 31px !important;
}

.sr {
	margin-top: 10px;
}

.popup-tab .ui-widget.ui-widget-content {
	border: 0px;
}

.ui-widget-header {
	border: none !important;
}

.ui-tabs .ui-tabs-nav {
	padding: 0 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li {
	padding: 0 !important;
	margin: 0 !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.nav-title p {
	float: left;
	padding: .5em 1em !important;
	color: white;
	margin: 0 !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	width: 100% !important;
	float: none !important;
}

#search_tabs input {
	height: 32px !important;
}

#search_tabs label {
	padding-top: 3px;
}

/* ----------- COLORS -------------*/
a {
	color: #004990;
}

a:hover, a:active {
	color: #0068B9;
}

select {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff),
		color-stop(50%, #f6f6f6), color-stop(52%, #e2e5ec), to(#f4f4f4))
		!important;
	background: linear-gradient(#fff 20%, #f6f6f6 50%, #e2e5ec 52%, #f4f4f4 100%)
		!important;
}

.text-primary {
	color: #0068B9 !important;
}

.bg-darker .nav-item {
	/* background: rgba(0,0,0,0.1); */
	background: #0068B9;
}

.bg-darker .nav-link {
	color: #fff;
}

.bg-darker .nav-item:hover {
	/* background: rgba(0,0,0,0.05); */
	background-color: #004990;
}

.nav-pills .show>.nav-link {
	background-color: #004990;
	border-radius: 0px;
}

.btn-primary {
	color: #fff;
	background-color: #0068B9;
	border-color: #0068B9;
}

#search_tabs {
	
}

.ui-widget-header {
	background: #004990 !important;
}

/*
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #FF5800 !important;
	color: #ffffff;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-button:hover {
    background: #FF5800 !important;
} */
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link,
	.ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover,
	.ui-state-focus a:link, .ui-state-focus a:visited, a.ui-button:hover, a.ui-button:focus
	{
	background: #FF5800 !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	background: #FF5800 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
	a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
	{
	border: 0px;
	font-weight: normal;
	color: #ffffff;
	display: block !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
	a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
	{
	background: #0068B9 !important;
}

.ui-menu .ui-menu-item-wrapper {
	width: 100%;
	display: block;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
	margin: 0px !important;
}

.ui-state-default {
	background: none !important;
}

.ui-state-default a, .ui-state-default a:link {
	color: #fff;
}

#search_tabs #ui-id-5 {
	background-color: inherit !important;
}

#search_tabs #ui-id-5:hover, #search_tabs li.ui-state-active #ui-id-5 {
	background-color: #FF5800 !important;
}

.input-group-btn>.btn {
	height: 32px !important;
	width: 32px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-color: #0068B9; ! important;
	background: #0068B9;
	color: #fff;
}

.accent-cell {
	background: #A8CCE8;
}

.btn-primary {
	background: #0068B9;
}

.btn-primary:hover {
	background: #004990;
	border-color: #004990;
}

.button_checked .btn-primary { /* mis */
	background: #004990; /*#FF5800;*/
	border: 1px solid #004990;
}

.head-row {
	/*
    background: #e2e5ec;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #e2e5ec), color-stop(50%, #f6f6f6), color-stop(52%, #f6f6f6), to(#e2e5ec));
    background: linear-gradient(#e2e5ec 20%, #f6f6f6 50%, #f6f6f6 52%, #e2e5ec 100%);
    border: 1px solid #e2e5ec;
    border-radius: 4px; */
	background: rgba(226, 229, 236, 0.5);
}

table.list th, table.list_top th {
	/* background: #e2e5ec; */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #e2e5ec),
		color-stop(50%, #f6f6f6), color-stop(52%, #f6f6f6), to(#e2e5ec));
	background: linear-gradient(#e2e5ec 20%, #f6f6f6 50%, #f6f6f6 52%, #e2e5ec 100%);
	border: 1px solid #e2e5ec;
	border-radius: 4px;
}

.search_articles_top {
	margin-bottom: 10px;
	display: inline-flex;
	width: 100%;
}

.sidebar1 ul li:hover {
	background: #E0F1FF;
}

.sidebar1 ul li a:hover {
	color: #004E8B;
}

.sidebar1 ul li a:active {
	background: #0068B9;
	color: #fff !important;
}

.menu_standard h3 {
	display: none;
	color: #0068B9;
	font-size: 13px;
}

.shadow {
	box-shadow: none !important;
}

.page-item.active .page-link {
	background: #0068B9;
	border-color: #0068B9;
	color: #fff !important; /* mis */
}

.page-link {
	color: #0068B9;
}

.chosen-container .chosen-results li.highlighted {
	background-color: #0068B9;
	background-image: none;
	color: white;
}

.chosen-container-single .chosen-single {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff),
		color-stop(50%, #f6f6f6), color-stop(52%, #e2e5ec), to(#f4f4f4));
	background: linear-gradient(#fff 20%, #f6f6f6 50%, #e2e5ec 52%, #f4f4f4 100%);
}

input:-webkit-autofill, input:-webkit-autofill:focus {
	-webkit-box-shadow: inset 0 0 0px 9999px #ffffff;
	transition: background-color 5000s ease-in-out 0s;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: #f0f2f5;
}

.table-striped tbody tr {
	border-bottom: 1px solid #e2e5ec;
}

table.list th, table.list_top th {
	background: #f0f2f5 ;
}

.orange-head {
	background: #FF5800 !important;
	text-align: center;
	color: #fff;
	width: 100%;
	display: block;
	border-radius: 4px;
	line-height: 30px;
}

/* -------------SELECT ----------------*/
#search_history * {
	font-size: 1em;
}

select>option {
	background: white;
}

.r-autocomplete {
	width: inherit;
}

/* --------- RESULTS TABLE -------------*/
.ajax_loader {
	display: none;
	position: fixed !important;
	top: calc(50vh - 100px);
	left: 50vw;
	width: 200px !important;
	height: 200px !important;
	z-index: 99999999999;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.ajax_loader img {
	width: 100%;
	height: auto;
}

/* .search_articles_loader {
    content: "a";
    position: fixed;
    width: 1000px;
    height: 1000px;
    background: rgba(0,0,0,0.5);
}*/
.table td, .table th {
	border: none;
}

.table thead th {
	border: none;
}

.article-row {
	border-bottom: 1px solid #dfdfdf;
}

.arrow {
	display: inline-block;
	position: absolute;
	margin-left: 2px;
}

.ui-spinner-input {
	padding: 0;
	margin: 0.4em 2em 0.4em 0.4em;
}

.ui-spinner {
	margin: 0px;
}

.top-aligned {
/*	padding-top: 10px !important; */
}

.top-aligned-8 {
/*	padding-top: 5px !important; */
}

.article-row {
	height: 50px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 82%, #fafafa 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 82%, #fafafa 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 82%, #fafafa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#fafafa', GradientType=0);
}

.round-icon {
	background-repeat: no-repeat;
	background-position: 5px 11px;
	background-size: 16px;
}

.article-row td:nth-child(5) {
	word-break: break-word;
}

.article-row-head {
	
}

.spacer {
	height: 5px;
	border: none;
}

.search_form {
	top: 0px !important;
	right: 5px !important;
	width: 430px !important;
	border: none !important;
	border-radius: 4px !important;
}

.menu_form {
	border: none !important;
	border-radius: 4px !important;
}

/* ----------- RESULTS IMAGES GRID --------- */
.articles_big {
	border: 1px solid #aaa;
	float: left;
	width: calc(25% - 8px);
	height: 240px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 4px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 82%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 82%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 82%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#dfdfdf', GradientType=0);
}

.articles_big:nth-child(4n+0) {
	margin-right: 0px !important;
}

.articles_big_img {
	border-radius: 6px;
	padding: 10px;
	width: 100%;
	max-height: 140px;
}

.articles_big_block_bottom {
	background-position: 3px 3px !important;
	background-size: 13px !important;
	border-top: none;
}

.articles_big_block_med_table {
	width: 170px;
}

.articles_big_block_med_table td {
	padding-left: 3px;
}

/* --------- WRAP STRIPES -------------*/
#shop-container-before {
	overflow: hidden;
	width: 200px;
	height: auto;
	background-repeat: no-repeat;
	position: absolute;
	left: calc(50% - 800px);
}

#shop-container-after {
	overflow: hidden;
	width: 200px;
	height: auto;
	position: absolute;
	background-repeat: no-repeat;
	left: calc(50% + 600px);
}

/* ------------- RESPONSIVE --------------*/
@media ( max-width : 1199px) {
	#shop-container-before {
		display: none;
	}
	#shop-container-after {
		display: none;
	}
	#left-sidebar {
		display: none;
	}
	.featured {
		max-height: 286px;
	}
	.ajax_loader {
		top: calc(50vh - 100px);
		left: calc(50vw - 100px);
	}
	#search_tabs {
		min-height: 286px !important;
	}
}

@media ( max-width : 992px) {
	.banner-left, .banner-center {
		display: none !important;
	}
	#search_tabs {
		height: auto !important;
	}
	.my-image-table img {
		width: 100%;
		height: auto;
	}
	.my-search-container {
		padding: 0 10px 0 10px !important;
		min-height: auto;
	}
	#search_tabs {
		min-height: auto !important;
	}
	#categories-mobile, #search_categories_kat_div {
		float: none !important;
		min-width: 100% !important;
	}
	.moj-flex-fill {
		flex: 0 0 20%;
	}
}

/* --------- CHOSEN SELECT -------------*/
.chosen-select {
	width: 100%;
}

.chosen-select-deselect {
	width: 100%;
}

.chosen-container {
	display: inline-block;
	font-size: 13px;
	position: relative;
	vertical-align: middle;
}

.chosen-container .chosen-drop {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
	margin-top: -1px;
	position: absolute;
	top: 100%;
	left: -9000px;
	z-index: 1060;
}

.chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
	right: 0;
}

.chosen-container .chosen-results {
	color: #555555;
	margin: 0 4px 4px 0;
	max-height: calc(100vh - 370px);
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
	display: none;
	line-height: 1.42857143;
	list-style: none;
	margin: 0;
	padding: 5px 6px;
}

.chosen-container .chosen-results li em {
	background: #feffde;
	font-style: normal;
}

.chosen-container .chosen-results li.group-result {
	display: list-item;
	cursor: default;
	color: #999;
	font-weight: bold;
}

.chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}

.chosen-container .chosen-results li.active-result {
	cursor: pointer;
	display: list-item;
}

.chosen-container .chosen-results li.highlighted em {
	background: transparent;
}

.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #777777;
}

.chosen-container .chosen-results .no-results {
	background: #eeeeee;
	display: list-item;
}

.chosen-container .chosen-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	width: 321px;
	z-index: 1;
}

.chosen-container .chosen-results-scroll span {
	display: inline-block;
	height: 1.42857143;
	text-indent: -5000px;
	width: 9px;
}

.chosen-container .chosen-results-scroll-down {
	bottom: 0;
}

.chosen-container .chosen-results-scroll-down span {
	background: url("chosen-sprite.png") no-repeat -4px -3px;
}

.chosen-container .chosen-results-scroll-up span {
	background: url("chosen-sprite.png") no-repeat -22px -3px;
}

.chosen-container-single .chosen-single {
	width: 100% !important;
	background-color: #ffffff;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	border: 1px solid #cccccc;
	border-top-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: #555555;
	display: block;
	height: auto !important;
	overflow: hidden;
	line-height: 29px !important;
	padding: 0 0 0 8px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}

.chosen-container-single .chosen-single span {
	display: block;
	margin-right: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chosen-container-single .chosen-single abbr {
	background: url("chosen-sprite.png") right top no-repeat;
	display: block;
	font-size: 1px;
	height: 10px;
	position: absolute;
	right: 24px;
	top: 10px;
	width: 12px;
}

.chosen-container-single .chosen-single abbr:hover {
	background-position: right -11px;
}

.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover
	{
	background-position: right 2px;
}

.chosen-container-single .chosen-single div {
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
}

.chosen-container-single .chosen-single div b {
	background: url("chosen-sprite.png") no-repeat 0 5px;
	display: block;
	height: 100%;
	width: 100%;
}

.chosen-container-single .chosen-default {
	color: #777777;
}

.chosen-container-single .chosen-search {
	margin: 0;
	padding: 3px 4px;
	position: relative;
	white-space: nowrap;
	z-index: 1000;
}

.chosen-container-single .chosen-search input[type="text"] {
	background: url("chosen-sprite.png") no-repeat 100% -20px, #ffffff;
	border: 1px solid #cccccc;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	margin: 1px 0;
	padding: 4px 20px 4px 4px;
	width: 100%;
}

.chosen-container-single .chosen-drop {
	margin-top: -1px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.chosen-container-single-nosearch .chosen-search input {
	position: absolute;
	left: -9000px;
}

.chosen-container-multi .chosen-choices {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	cursor: text;
	height: auto !important;
	height: 1%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}

.chosen-container-multi .chosen-choices .search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.chosen-container-multi .chosen-choices .search-field input[type="text"]
	{
	background: transparent !important;
	border: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #555555;
	height: auto !important;
	margin: 0;
	padding: 4px;
	outline: 0;
}

.chosen-container-multi .chosen-choices .search-field .default {
	color: #999;
}

.chosen-container-multi .chosen-choices .search-choice {
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffeeeeee', GradientType=0);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: #333333;
	cursor: default;
	line-height: 13px;
	margin: 6px 0 3px 5px;
	padding: 3px 20px 3px 5px;
	position: relative;
}

.chosen-container-multi .chosen-choices .search-choice .search-choice-close
	{
	background: url("chosen-sprite.png") right top no-repeat;
	display: block;
	font-size: 1px;
	height: 10px;
	position: absolute;
	right: 4px;
	top: 5px;
	width: 12px;
	cursor: pointer;
}

.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover
	{
	background-position: right -11px;
}

.chosen-container-multi .chosen-choices .search-choice-focus {
	background: #d4d4d4;
}

.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close
	{
	background-position: right -11px;
}

.chosen-container-multi .chosen-results {
	margin: 0 0 0 0;
	padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
	display: none;
}

.chosen-container-active .chosen-single {
	border: 1px solid #66afe9;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(82, 168, 236, .6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(82, 168, 236, .6);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	background-color: #ffffff;
	border: 1px solid #66afe9;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(82, 168, 236, .6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(82, 168, 236, .6);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
	background: transparent;
	border-left: none;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 7px;
}

.chosen-container-active .chosen-choices {
	border: 1px solid #66afe9;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(82, 168, 236, .6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px
		rgba(82, 168, 236, .6);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.chosen-container-active .chosen-choices .search-field input[type="text"]
	{
	color: #111 !important;
}

.chosen-container-active.chosen-with-drop .chosen-choices {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.chosen-disabled {
	cursor: default;
	opacity: 0.5 !important;
}

.chosen-disabled .chosen-single {
	cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default;
}

.chosen-rtl {
	text-align: right;
}

.chosen-rtl .chosen-single {
	padding: 0 8px 0 0;
	overflow: visible;
}

.chosen-rtl .chosen-single span {
	margin-left: 26px;
	margin-right: 0;
	direction: rtl;
}

.chosen-rtl .chosen-single div {
	left: 7px;
	right: auto;
}

.chosen-rtl .chosen-single abbr {
	left: 26px;
	right: auto;
}

.chosen-rtl .chosen-choices .search-field input[type="text"] {
	direction: rtl;
}

.chosen-rtl .chosen-choices li {
	float: right;
}

.chosen-rtl .chosen-choices .search-choice {
	margin: 6px 5px 3px 0;
	padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices .search-choice .search-choice-close {
	background-position: right top;
	left: 4px;
	right: auto;
}

.chosen-rtl.chosen-container-single .chosen-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results .group-option {
	padding-left: 0;
	padding-right: 15px;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div
	{
	border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
	background: url("chosen-sprite.png") no-repeat -28px -20px, #ffffff;
	direction: rtl;
	padding: 4px 5px 4px 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen
	and (min-resolution: 144dpi) {
	.chosen-rtl .chosen-search input[type="text"], .chosen-container-single .chosen-single abbr,
		.chosen-container-single .chosen-single div b,
		.chosen-container-single .chosen-search input[type="text"],
		.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
		.chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span
		{
		background-image: url("chosen-sprite@2x.png") !important;
		background-size: 52px 37px !important;
		background-repeat: no-repeat !important;
	}
}

.list_columns_actions { /* mis */
	display: inline-flex;
	text-align: right;
	float: right;
}

.list_th_columns_actions {
	text-align: right;
}

.ui-datepicker-header a {
	filter: invert(100%) brightness(2);
}

.ui-datepicker-title {
	color: #FFF;
}

.very_small_button {
	position: relative;
	padding: 0px 5px;
    font-size: 8px;
	margin: 2px 0;
	border-radius: 10px;
}

.very_small_button .btn .btn-primary .moj-btn-sm {

}

.redOutlineTextBox {
  border: 2px solid #FF0000;
  border-radius: 4px;
}
